#name-height{
   max-height: 6rem;
}

#A, #D, #a, #c, #d, #e, #n, #r, #w, #m, #i, #i2, #o {
   fill:#2ECC40;
}

#outline {
  stroke: #001f3f;
  stroke-width: 2px;
  stroke-dasharray: 0, 0, 30, 1250px;
  stroke-dashoffset: 1250px;
  Animation: outline-anim 15s linear 0s reverse infinite;
  fill:transparent;
}

@keyframes outline-anim {
  from {stroke-dashoffset: 0px;}
  to {stroke-dashoffset: 1275px;}
}

header h1{
   font-size: 1.4rem;
}