#main-img{
   border-radius: 50%;
   max-height: 12rem;
   width: auto;
}

aside{
   width: 100%;
   z-index: 1000;
}

.main-menu{
   background-color: rgba(0, 4, 255);
   height: 19.5rem;
   width: 100%;
   overflow: hidden;
   color: white;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}

.main-menu.open{
   height: 36rem;
}

@media (max-width: 767px){
   .hide-desktop-menu{
      display: none;
   }   
}

@media (min-width: 768px) {
   aside{
      width: 40px;
      transition: width 300ms linear;
      min-height: calc(100vh);
   }
   aside.open{
      width: 16.666667%;
      transition: width 300ms linear;
   }

   /*main menu*/
   .main-menu {
      width: 0px;
      background-color: rgba(0, 4, 255, 0.4);
      overflow: hidden;
      transition: width 310ms linear;
      height: calc(100%);
      position: relative;
   }
   .main-menu.open {
      width: 94%;
      transition: width 310ms linear;
      height: calc(100%);
   }

   i {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
  }
  
  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
  
  .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }
  
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }
}

@media (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   /* IE10+ CSS styles go here */
   #menu-action{
      width: 45px;
   }

   #menu-action.open{
      width: auto;
   }
}