.maxheight{
   height: calc(100%);
}

.minheight{
   min-height: calc(100vh);
}

html{
   min-height: calc(100vh);
   background: linear-gradient(#7004aa, rgb(6, 124, 6), rgb(34, 216, 28, .4), #7004aa);
   background-repeat: no-repeat;
}

body {
   background: transparent;
   font-family: 'Crimson Text', serif;
   font-size: 20px;
}

.content{
   background-color: white;
}

h1 h3 {
   font-family: 'Crimson Text', serif;
   font-weight: bold;
}

h1 {
   position: relative;
   color: #fff;
   padding: 10px 30px; 
   text-shadow: 0 1px rgba(0,0,0,.8);
   background-color: #0440a0;
   background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
   -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
   -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
   box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

h1:before, 
h1:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
}

h1:before {
    border-width: 0 10px 10px 0;
    border-right-color: #222;
    left: 0;
}

h1:after {
    border-width: 0 0 10px 10px;
    border-left-color: #222;
    right: 0;
}

@media (min-width: 768px) {
   h1 {   
      margin: 0 -20px 0px -20px;
   }
   
   .content{
      width: calc(100% - 40px);
      transition: width 300ms linear;
   }
   .content.open{
      width: calc(100% - 16.666667% - 50px);
      transition: width 300ms linear;
   }
}

@media (max-width:767px){
   .clear-x-margins{
      margin-left: 0px !important;
      margin-right: 0px !important;
   }
}