body {
   background: linear-gradient(#7004aa 15%, rgb(6, 124, 6) 25%, rgb(34, 216, 28, .4) 60%, white);
   background-repeat: no-repeat;
   height: calc(100vh);
   font-family: 'Crimson Text', serif;
   font-size: 20px;
}

.main {
   border-style: solid;
   border-width: 2px;
   padding-top: 10px;
}

h1 h3 {
   font-family: 'Crimson Text', serif;
   font-weight: bold;
}

h1 {
   position: relative;
   color: #fff;    
   margin: 0 -30px 30px -30px;
   padding: 10px 30px; 
   text-shadow: 0 1px rgba(0,0,0,.8);
   background-color: #0440a0;
   background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
   -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
   -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
   box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

h1:before, 
h1:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
}

h1:before {
    border-width: 0 10px 10px 0;
    border-right-color: #222;
    left: 0;
}

h1:after {
    border-width: 0 0 10px 10px;
    border-left-color: #222;
    right: 0;
}

html {
   overflow: scroll;
   overflow-x: hidden;
}
::-webkit-scrollbar {
   width: 0px;  /* remove scrollbar space */
   background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
   background: #FF0000;
}

#A, #D, #a, #c, #d, #e, #n, #r, #w, #m, #i, #i2, #o {
   fill:#2ECC40;
}

#outline {
  stroke: #001f3f;
  stroke-width: 2px;
  stroke-dasharray: 0, 0, 30, 1250px;
  stroke-dashoffset: 1250px;
  Animation: outline-anim 15s linear 0s reverse infinite;
  fill:transparent;
}

@keyframes outline-anim {
  from {stroke-dashoffset: 0px;}
  to {stroke-dashoffset: 1275px;}
}

@media (max-width: 767px) {
   header{
      margin-top: 30px;
   }
}

@media (min-width: 768px) {
   header{
      min-height: 180px;
   }
}