.accordin-logos{
   max-height: 100%;
   width: 60px;
}

.timeframe{
   font-size: 1.3em;
}

@media(min-width: 768px){
   .accordin-logos{
      max-width: 100%;
      width: auto;
      height: 150px;
      float: left;
   }

   .hide-icons{
      display: none;
   }

   #nwu-logo{
      max-height: 200px;
   }
   
   #devry-logo{
      max-height: 175px;
   }
}

@media(max-width: 767px){
   .accordin-header-transparent{
      background: transparent;
      border: none;
   }

   .accordin-background{
      background-color:rgba(0, 0, 0, 0.35);
   }

   .hide-logos{
      display: none !important;
   }
}