.about-me-img{
   max-width: 20rem;
}

.aboutme p{
   font-size: 1.35rem; 
}

.aboutme .row{
   padding-top: 2rem;
}

@media (max-width: 767px){
   .about-me-img{
      max-width: 15rem;
   }
   
   #aboutme-slogan{
      max-width: 100%;
   }
   
   #aboutme-gif{
      max-width: 100%;
   }
}